html,body {
    width: 100%;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
	margin: 0;
	background-image: url("images/playatexture.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #ccc;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #ccc;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #0081fd;
}

.column-container {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: auto;
	width: 75%;
	display: flex;
	max-width: 1200px;
}

/* ========================================================
Header
=========================================================== */

header {
	padding-left: 20px;
	width: 100%;
	background-color: black;
	color: #ccc;
	position: fixed;
	z-index: 1;
	display: flex;
	height: 80px;
	align-items: center;
}

header img {
	height: 50px;
	padding-left: 55px;
}

header span {
	padding: 10px;
}

#brainlove {
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
}

#brainlove:hover {
	color: #ccc;
}

.mobile-menu-wrapper {
	display: none;
}

.menu {
	text-align: right;
	flex-grow: 1;
	padding-top: 30px;
	padding-right: 60px;
	font-size: 1.25em;
}

.menu span:hover {
	color: #0081fd;
	cursor: pointer;
}

/* ========================================================
Hero Image
=========================================================== */

#hero {
	padding-top: 80px;
}

#hero img {
	width: 100%;
}

/* ========================================================
About Us
=========================================================== */

#video {
	margin-top: 20px;
	width: 60%;
	padding-right: 50px;
}

#iframe-container {
	position: relative;
	height: 0;
	overflow: hidden;
}

/* 16x9 Aspect Ratio */
.iframe-container-16x9 {
  padding-bottom: 56.25%;
}

#iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#about-us-container p {
	width: 40%;
}

#about-us {
	position: absolute;
	top: -80px;
	left: 0px;
}

/* ========================================================
Get Involved
=========================================================== */

#get-involved-container {
	background-color: black;
	color: #ccc;
	width: 100%;
}

#get-involved-container h2 {
	color: #ff00f4;
}

#donate {
	width: 60%;
	margin: auto;
	padding-right: 50px;
}

#pay-logos {
	display: flex;
}

#pay-logos img {
	height: 40px;
	padding-right: 10px;
}

#pay-logos input {
	height: 40px;
}

#mailing-list-collaborate {
	width: 40%;
	margin: auto;
}

#mailing-list {
	margin-bottom: 100px;
}

#get-involved {
	position: absolute;
	top: -80px;
	left: 0px;
}

/* ========================================================
Footer
=========================================================== */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background-color: black;
}

footer a {
	padding: 5px;
}

.fa {
	color: #ccc;
}

.fa:hover {
	color: #0081fd;
	cursor: pointer;
}

/* ========================================================
Press
=========================================================== */

#press-container {
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#press-container img {
	padding: 10px;
}

#press-container img:hover {
	transform: scale(1.1);
}

#press {
	position: relative;
	top: -80px;
	left: 0px;
}

/* ========================================================
Gallery
=========================================================== */

#img-gallery-wrapper {
	width: 90%;
	max-width: 1500px;
	margin: auto;
	padding-top: 150px;
	padding-bottom: 70px;
}

/* ========================================================
Media Queries
=========================================================== */

@media screen and (max-width: 1100px) {
	header {
		height: 80px;
 	}
	
	.menu {
		display: none;
	}

	.mobile-menu-wrapper {
		display: block;
		flex-grow: 1;
		flex-direction: column;
		text-align: right;
	}

	#hamburger {
		display: inline-block;
		flex-grow: 1;
		padding-right: 50px;
		text-align: right;
		font-size: 1.5em;
	}

	#close {
		display: inline-block;
		flex-grow: 1;
		padding-right: 50px;
		text-align: right;
		font-size: 1.5em;
	}

	.mobile-menu {
		background-color: black;
		position: absolute;
		width: 100%;
		top: 65px;
		left: 0;
	}

	.mobile-menu span {
		display: block;
		flex-grow: 1;
		text-align: right;
		padding-right: 50px;
	}

	header #brainlove {
		font-size: 1.5em;
	}

	header img {
		height: 35px;
		padding-left: 5px;
	}

	#hero {
		padding-top: 80px;
	}

	.column-container {
		display: block;
		width: 100%;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	#video, #about-us-container p, #donate, #mailing-list-collaborate {
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}

	#donate, #mailing-list {
		margin-bottom: 30px;
	}

	#press-container {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	#press-container img {
		padding: 20px;
	}

	#img-gallery-wrapper {
		width: 98%;
		padding-top: 85px;
		padding-bottom: 5px;
	}

}