html,body {
    width: 100%;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
	margin: 0;
	background-image: url("images/playatexture.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #ccc;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #ccc;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #0081fd;
}

/* ========================================================
Header
=========================================================== */

header {
	padding-top: 20px;
	padding-left: 20px;
	width: 100%;
	background-color: black;
	color: #ccc;
	position: fixed;
	z-index: 1;
	display: flex;
	height: 100px;
}

header span {
	padding: 10px;
}

header img {
	height: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 55px;
}

header #brainlove {
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 0;
}

#menu {
	text-align: right;
	flex-grow: 1;
	padding-top: 30px;
	padding-right: 60px;
	font-size: 1.25em;
}

#menu span:hover {
	color: #0081fd;
	cursor: pointer;
}

/* ========================================================
Hero Image
=========================================================== */

#hero {
	padding-top: 100px;
}

#hero img {
	width: 100%;
}

/* ========================================================
About Us
=========================================================== */

#about-us-container {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: auto;
	width: 75%;
	display: flex;
}

#about-us-container iframe {
	margin-top: 20px;
	width: 60%;
	padding-right: 50px;
}

#about-us-container p {
	width: 40%;
}

#about-us {
	position: absolute;
	top: -100px;
	left: 0px;
}

/* ========================================================
Get Involved
=========================================================== */

#get-involved-container {
	background-color: black;
	color: #ccc;
	display: flex;
	padding-top: 40px;
	padding-bottom: 50px;
	width: 75%;
	margin: auto;
	position: relative;
}

#get-involved-container h2 {
	color: #ff00f4;
}

#donate {
	width: 60%;
	margin: auto;
	padding-right: 50px;
}

#pay-logos {
	display: flex;
}

#pay-logos img {
	height: 40px;
	padding-right: 10px;
}

#pay-logos input {
	height: 40px;
}

#mailing-list-collaborate {
	width: 40%;
	margin: auto;
}

#mailing-list {
	margin-bottom: 100px;
}

#get-involved {
	position: absolute;
	top: -100px;
	left: 0px;
}

/* ========================================================
Footer
=========================================================== */

footer {
	text-align: center;
	padding-top: 65px;
	height: 85px;
	background-color: black;
}

.fa {
	color: #ccc;
}

.fa:hover {
	color: #0081fd;
	cursor: pointer;
}

/* ========================================================
Media Queries
=========================================================== */

@media screen and (max-width: 1000px) {
	header {
		display: block;
		margin-bottom: 20px;
		height: 189px;
	}

	header #menu {
		text-align: left;
		margin-bottom: 20px;
	}

	#hero {
		padding-top: 189px;
	}

	#about-us-container {
		display: block;
		width: 100%;
	}

	#about-us-container iframe {
		width: 100%;
	}

	#about-us-container p {
		width: 95%;
		margin: 2%;
	}

}